<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/LOGO_UEU_BY_ASU-06.png/2560px-LOGO_UEU_BY_ASU-06.png">

<img src = "https://jupyter-notebook.readthedocs.io/en/stable/_images/python_logo.svg">

- contoh bentuk tipe data int

In [2]:
a = 1

print(a, type(a))

<class 'int'>

- contoh bentuk tipe data string (str)

In [3]:
a = 'tes'
print(a, type(a))

<class 'str'>

- contoh tipe data float

In [5]:
a = 3.14
print(a, type(a))

<class 'float'>

- contoh tipe data complex

In [7]:
a = 1j
print(a, type(a))

1j <class 'complex'>

- JELASKAN MAKSUD DARI PENERAPAN VARIBEL TERKAIT TIPE DATA INT DIBAWAH INI

In [14]:
a = 2
b = int(2.5)
c = int(3.9)

print(a, type(a), ",", b, type(b))
print(c, type(c))

2 <class 'int'> , 2 <class 'int'>
3 <class 'int'>

# JAWABAN : 
## Variabel a merupakan tipe data integer sedangkan variabel b merupakan tipe data yang dikonversi menjadi integer, jadi didalam kurung tersebut tidak harus bilangan bulat. Ketika kita isi 3.9 maka tipe data yang seharusnya float akan diubah menjadi bilangan bulat atau integer alhasil akan menampilkan seperti variabel c yang bernilai 3

In [16]:
from enum import Enum

class Hari(Enum):
    senin = 0
    selasa = 1
    rabu = 2
    kamis = 3
    jumat = 4
    sabtu = 5
    minggu = 6

for Hari in (Hari):
    print(Hari.value, "-",Hari)

0 - Hari.senin
1 - Hari.selasa
2 - Hari.rabu
3 - Hari.kamis
4 - Hari.jumat
5 - Hari.sabtu
6 - Hari.minggu